
body {
  background-image: linear-gradient(to left,pink,orange);
  
        }

        
 html {

    text-align:center;
    font-size: 20px;
    font-style: oblique;


}

button {
  border: solid;
  font-size: 20px;

}
div.card body{
  align-content: center;
}